<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SociScraper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SociScraper.Properties.Settings.SociScraperConnectionString"
            connectionString="Data Source=|DataDirectory|\data\data.sdf;Password=@741852#u;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="SociScraper.Properties.Settings.dataConnectionString"
            connectionString="Data Source=|DataDirectory|\data\data.sdf;Password=@741852#u;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="SociScraper.Properties.Settings.dataConnectionString1"
            connectionString="Data Source=|DataDirectory|\data\data.sdf;Password=@741852#u;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="SociScraper.Properties.Settings.dataConnectionString2"
            connectionString="Data Source=|DataDirectory|\data\data.sdf;Password=@741852#u;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <SociScraper.Properties.Settings>
            <setting name="AuthenticationUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthenticationPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RootFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="sTwitterUser" serializeAs="String">
                <value />
            </setting>
            <setting name="sTwitterPass" serializeAs="String">
                <value />
            </setting>
            <setting name="sPinUser" serializeAs="String">
                <value />
            </setting>
            <setting name="sPinPass" serializeAs="String">
                <value />
            </setting>
            <setting name="sTwitterUser" serializeAs="String">
                <value />
            </setting>
            <setting name="sTwitterPass" serializeAs="String">
                <value />
            </setting>
            <setting name="sProxyFile" serializeAs="String">
                <value />
            </setting>
            <setting name="iTwitterScrapeType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iTwitterThread" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="bTwitterLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iTwitterLimitNum" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="bTwitterIgnorePrivate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bTwitterIgnoreViried" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bTwitterCheckFollower" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iTwitterFollowerNum" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sTwitterSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="sTwitterKeyword" serializeAs="String">
                <value />
            </setting>
            <setting name="iTwitterDownloadType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iTwitterDownloadThread" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="bTwitterDownloadLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iTwitterDownLimitNum" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="bTwitterCheckMinLike" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iTwitterMinLike" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="iTwitterMinComment" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="bTwitterCheckMinComment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sTwitterDownloadKeyword" serializeAs="String">
                <value />
            </setting>
            <setting name="sTwitterDownSavePath" serializeAs="String">
                <value />
            </setting>
        </SociScraper.Properties.Settings>
    </userSettings>
</configuration>
